section {
  margin: 100px;
}

.boxOne {
  display: flex;
  flex-wrap: wrap;
}

.containerLogin {
  display: flex;
  flex-direction: column;
  padding-left: 45px;
  justify-content: space-around;
}

label {
  color: #7a4e3f;
  font-size: 20px;
  font-weight: bold;
}

.logo {
  position: relative;
  max-width: 300px;
}

.inputLogin {
  background-color: rgb(162, 181, 218);
  border: 0cap;
  border-radius: 12px;
  height: 30px;
  margin-bottom: 16px;
  font-weight: bold;
}

#submitbtn {
  background-color: rgb(115, 147, 209);
  border-radius: 12px;
  font-weight: bold;
  font-size: 16px;
  color: rgb(48, 24, 16);
  height: 25px;
  margin: 10px;
  border: 0cap;
}

#registerBtn {
  background-color: rgb(115, 147, 209);
  border-radius: 12px;
  font-weight: bold;
  font-size: 15px;
  color: rgb(48, 24, 16);
  height: 30px;
  margin: 10px;
  border: 0cap;
}

#registerBtn:hover {
  background-color: rgb(252, 188, 248);
}

#submitbtn:hover {
  background-color: rgb(252, 188, 248);
}

.footerLinks {
  position: relative;
  max-width: 80px;
  justify-content: center;
  align-items: center;
}

.beforeRegister {
  font-size: px;
  color: rgb(48, 24, 16);
}